{{#properties}}
	"app_name" : "myapp",
	"page_title": "bChatty"
{{/properties}}
<div>Username: <input type='text' id='Username' name='Username'/></div>
<input type='button' value="submit" onclick='bC.SubmitNewUser'/>