{{#properties}}
	"app_name" : "myapp",
	"page_title": "bChatty"
{{/properties}}
<div id='logonInterface' style='display:none'>
<div>Username: <input type='text' id='txtNewUsername' name='txtNewUsername'/></div>
<div>Password: <input type='text' id='txtNewPassword' name='txtNewPassword'/></div>
<input type='button' value="submit" onclick='bC.SubmitNewUser'/>
</div>

<script> 
			 var socket = new io.Socket('ec2-174-129-95-26.compute-1.amazonaws.com'); 
			 socket.connect();
			 socket.on('connect', function(data){ 
			 	socket.send('Hello'); 
			 
			 }) 
			 socket.on('message', function(data){ 
			  alert(data);
			  if(data.Interface)
			  {
			  	$('#' + data.Interface).show();
			  }
			  }) 
			 socket.on('disconnect', function(data){ 
			 	socket.connect();
			 }) 
		</script> 
