<html>
	<head>
		<title>{{page_title}}</title>		
		<link href="bChatty.css" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
		<script src="bChatty.js" type="text/javascript"></script>
		<script src="/socket.io/socket.io.js"></script> 
		
	</head>
	<body>
		{{{body}}}
	</body>
</html>
